<h1>Add a Competitor</h1>
<form class="new-comp-form">
  <label for="username">Username 1:</label><br>
  <input type="text" id="first-username" name="username"><br>
  <label for="username">Username 2:</label><br>
  <input type="text" id="second-username" name="username"><br>
  <input type="submit" value="Submit">
</form>
<script src="js/competitors.js"></script>
<h1>Your competitors</h1>
<section class="comp-section"></section>