


{{!-- background --}}
{{!-- <div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div> --}}
{{!-- background --}}

<h1 class="competitor">Add a Competitor</h1>
<form class="new-comp-form">
  <label class="username" for="username">Username 1:</label><br>
  <input class="" type="text" id="first-username" name="username"><br>
  <label class="username" for="username">Username 2:</label><br>
  <input type="text" id="second-username" name="username"><br>
  <input class="btn" type="submit" value="Submit">
</form>
<script src="js/competitors.js"></script>
<h1 class="competitor">Your competitors</h1>
<section class="comp-section"></section>


{{!-- <div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div> --}}


{{!-- <div class="wrapper">  
<div class="comp-main-wrapper">
  <h1>Add a Competitor</h1>
<form class="new-comp-form">
  <label for="username">Username 1:</label>
  <input type="text" id="first-username" name="username">
  <label for="username">Username 2:</label>
  <input type="text" id="second-username" name="username">
  <input type="submit" value="Submit">
</form>
<script src="js/competitors.js"></script>

<div class="comp-set-wrapper">
  <h1>Your competitors</h1>
  <section class="comp-section"></section>
  <ul class="comps">
    <li class="comp1"></li>
    <li class="comp2"></li>
  </ul>
</div>
</div>
</div> --}}

<div class="grid-container">
<form class="new-comp-form"> 
<div class="grid-item item-1">

     <label for="username"></label>
     <input type="text" id="first-username" name="username" placeholder="Enter Name">
     {{!-- <label for="username">Username 1:</label> --}}
    <p class="player">Player One</p>
  </div>


<div class="grid-item item-2">
  
    <button class="new-comp-form">LETS GO</button>
</div>

<div class="grid-item item-3">
    <label for="username"></label>
    <input type="text" id="second-username" name="username" placeholder="Enter Name">
     {{!-- <label for="username">Username 2:</label> --}}
    <p class="player">Player Two</p>
    
  </div>
</div>
</form>
</div>

<script src="js/competitors.js"></script>

