
<div class="grid-container">
<form class="new-comp-form"> 
<div class="grid-item item-1">
    
   <input type="text" id="first-username" name="username" placeholder="Enter Name">
   {{#if loggedIn}}
    <h1 class="main-user">{{username}}</h1>
    {{id}}
    {{/if}}
  </div>


<div class="grid-item item-2">
  
    <button class="new-comp-form" id="event-Add">Add Opponent</button>
</div>

<div class="grid-item item-3">
    <label for="username"></label>
    <input type="text" id="second-username" name="username" placeholder="Enter Name">
    <p class="player">Player Two</p>
    
  </div>

<div class="grid-item item-4">
<div>
  <a href="/event"> <h1 class="partnerships">Set Activities</h1></a>

    <div id="comp-section"></div>

  </div>
</div>
</form>
</div>

<div id="act-section"></div>

<script src="js/test.js"></script>
<script src="js/competitors.js" defer></script>

