<h1 class="title1" >Set Score / Activity / Winner</h1>
<form class="event-form">
  <input type = "text" id="event-label" placeholder="Insert Activity"> 

<br>
  <div>
 <br>
    <input type="text" id="first-username" placeholder="User1"/>
  
    <input type="text" id="first-score" placeholder="Insert Score"> 
  </div>

<br>
<div>

  <input type="text" id="second-username" name="username" placeholder="User2">
  <input type="text" id="second-score" placeholder="Insert Score">
</div>

<br>

  <input class="btn" type="submit" value="Submit">

</form>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>



