<h1>Set Score / Activity / Winner</h1>
<form class="event-form">
  <input type = "text" id="event-label" placeholder="Insert Activity"> 

  <div>
    {{!-- <label for="username">Username1</label> --}}
    <input type="text" id="first-username" placeholder="User1"/>
    <input type="text" id="first-score" placeholder="Insert Score"> 
  </div>


<div>
 {{!-- <label for="username">Username 2:</label><br> --}}
  <input type="text" id="second-username" name="username" placeholder="User2">
  <input type="text" id="second-score" placeholder="Insert Score">
</div>

  <input type="submit" value="Submit">

</form>

<script src="js/event.js"></script>
<h1></h1>
<section class="event-section"></section>

