<section>

<h1 class="title"> Bragging Rights </h1>
{{!-- 
{{#each users as |user|}} --}}
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    <section class="container-fluid text-center py-4 custom">
      {{#if loggedIn}}
        {{> logout}}

        <a href="/scores" class="btn">scores</a>
        <a href="/competitors" class="btn">competitors</a>
        <a href="/event" class="btn">event</a>

      {{else}}
        <a href="/login" class="button">login</a>
        <a href="/signup" class="button">signup</a>
      {{/if}}
    </section>


{{#if loggedIn}}
    <script src="/js/logout.js"></script>
{{/if}}


</section>