<h2>Login</h2>

<form class="form login-form">
    {{#if logged_in}}

  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="login-email" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="login-email" />
  </div>
  {{/if}}

  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>


</form>

<script src="/js/login.js"></script>