<div class="wrapper" style="width: 500px;"><canvas id="acquisitions"></canvas></div>
{{!-- background --}}
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
{{!-- background --}}
<script type="module" src="/js/acquisitions.js"></script>

