:root {
  --primary-color: #DA627D;
  --primary-accent-color: #DA627D;
  --secondary-color: #A53860;
  --secondary-accent-color: #450920;
  --light-color: #F9DBBD;
  --primary-background-color:  #f8f9fb;


}


*,
*::before,
*::after {
  box-sizing: border-box;
}


*{
    margin: 0;
    padding: 0;
    font: inherit;
}

.testColors{
 color:#450920
}


.signUpForm{
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #f8f9fb;
}

.btn{
  background-color: var(--primary-color);
  border: none;
}


.column-heading{
  flex: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}


body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fb;
  font-weight: 500;
}

.image-container{
  position: relative;
}

.image-right{
  position: absolute;
   object-fit: cover;
}


.wrapper {
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1 , #acquisitions {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

#acquisitions{
  border: 1px solid red;
}