:root {
  --primary-color: #DA627D;
  --primary-accent-color: #DA627D;
  --secondary-color: #A53860;
  --secondary-accent-color: #450920;
  --light-color: #F9DBBD;
  --primary-background-color:  #f8f9fb;


}


*,
*::before,
*::after {
  box-sizing: border-box;
}


*{
    margin: 0;
    padding: 0;
    font: inherit;
}

.testColors{
 color:#450920
}


.signUpForm{
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #f8f9fb;
}

.btn{
  background-color: var(--primary-color);
  border: none;
}


.column-heading{
  flex: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}


body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fb;
  font-weight: 500;
}

.image-container{
  position: relative;
}

.image-right{
  position: absolute;
   object-fit: cover;
}


.wrapper {
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.item1{
  grid-area: a;
  align-self: center;
  justify-self: center;
}

#acquisitions{
  border: 1px solid red;
}

.score-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.comps{
  display:inline-flex
}

.player{
  color:var(--light-color);
  font-size: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

.grid-item {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  grid-row:1
}

.item-1 {
  grid-row: 1 / 2;
  background-color: var(--secondary-accent-color) ;
}

.item-2 {
  grid-row: 2 / 3;
  background-color: var(--light-color);
}

.item-3 {
  grid-row: 3 / 4;
  background-color: var(--secondary-color);
}

.new-comp-form button{
  border: none;
  background-color: transparent;
  font-size: 100px;
}

